
<!DOCTYPE html>
<html>
  <head>

    <!-- Dependencies -->
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script> <!-- MUST BE AT THE TOP (DECLARED FIRST) -->

    <link href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" rel="stylesheet"/>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>

    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
    <style><background-color: blue></style>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>

    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="../assets/css/branchtickets.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script> -->



    <% include ./partials/head %>
  </head>
  
  <body>
    <header>
      <% include ./partials/header %>
    </header>

    <script> var tid;
             var myBranch = '<%- branch %>';
     </script>
    
    <div>
    <div class="card" id="super-card-mytickets">

      <div class="super-panel-heading">
        <a href="/branchtickets" class="channel-name stripe-two">Branch Tickets</a>
      </div>

      <div class="panel panel-default bootcards-summary align-middle">
     <label style="margin-left: 10px">Chose your desired branch:</label>
        <div class="dropdown" id=dropdown-div>
                <select class="selectpicker type-button" data-live-search="true" data-dropup-auto="false" id="select-type">
                  <option name='temp' data-hidden="true">Pick A Branch</option>
                  <option name='temp'>Show All</option> 
                  <option name='temp'>Home Branch</option>
                  <option value="" disabled="disabled">─────────────────────────</option>
                  <option name='temp'>Abbotsfield</option>
                  <option name='temp'>Calder</option>
                  <option name='temp'>Capilano</option>
                  <option name='temp'>Castle Downs</option>
                  <option name='temp'>Century Park LRT</option>
                  <option name='temp'>Clareview</option>
                  <option name='temp'>Enterprise Square</option>
                  <option name='temp'>Highlands</option>
                  <option name='temp'>Idylwylde</option>
                  <option name='temp'>Jasper Place</option>
                  <option name='temp'>Lois Hole</option>
                  <option name='temp'>Londonderry</option>
                  <option name='temp'>MacEwan Lending Machine</option>
                  <option name='temp'>McConachie</option>
                  <option name='temp'>Meadows</option>
                  <option name='temp'>Mill Woods</option>
                  <option name='temp'>Riverbend</option>
                  <option name='temp'>Sprucewood</option>
                  <option name='temp'>Strathcona</option>
                  <option name='temp'>West Henday Promenade</option>
                  <option name='temp'>Whitemud Crossing</a></li>
                  <option name='temp'>Woodcroft</a></li>
                  <option name='temp'>Youth Services</a></li>
                  <option name='temp'>eplGo U of A</a></li>

                </select>
      </div>
        <div id="table-holder" class="container">
  
          <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#openTab">Open</a></li>
          <li><a data-toggle="tab" href="#closedTab">Closed</a></li>
          <li><a data-toggle="tab" href="#allTab">All</a></li>
          </ul>

          <div class="tab-content">

          <!-- Set contents per tab -->
          <div id="openTab" class="tab-pane fade in active">
           <h3>Open Tickets</h3>
           <script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
           <script>
           var myOpen, myClose, myAll;
           var obj1 = <%- openTickets %>;
           var myTemp;

             $(document).ready(function(){
               myOpen = $('#myOpenTable').DataTable( {
                 "order": [[0, "desc"]],
                 "autoWidth": false,
                 "aaData": obj1,
                 "aoColumns": [
                   { "mDataProp": "CallID"},
                   { "mDataProp": "TempDate"},
                   { "mDataProp": "Category" },
                   { "mDataProp": "Symptoms" },
                   { "mDataProp": "CallStatus" },
                   { "mDataProp": "action" },
                   { "mDataProp": "Site" }
                 ],
                 "columnDefs": [ {"targets": 0, "className": "dt-left", "width": "8%"}, {"targets":1, "className": "dt-left", "width": "10%"} , {"targets": 2, "className": "dt-center", "width": "10%"},{"targets": 3, "width": "40%"},{"targets": 4, "className": "dt-center", "width": "8%"}, {"targets": 5,"className": "dt-center", "data": null,"width": "22%", "searchable": false, "sortable": false, }, {"targets": 6, "width": "2%", "visible": false} ]
               });
    

               //  Set up branch filters
                dropdown_handler('#myOpenTable');

                // Get the CALLID(ticket id) from the row of the selected button
                table_button_handler('#myOpenTable');
             });

              for(var i = 0; i < Object.keys(obj1).length; i++) { // TURN THIS INTO FUNCTION
                if (obj1[i].CallStatus == "Open" && myBranch == "IT"){
        
                  myTemp = JSON.stringify(obj1[i].CallID);
                  obj1[i].action = "<button type=button id=view class=btn btn-secondary>View</button>  <button type=button id=edit class=btn btn-secondary>Edit</button> <button type=button id=resolve class=btn btn-secondary>Resolve</button>"
                }
                else{
                  obj1[i].action = "<button type=button style='width:100%' id=view class=btn btn-secondary>View</button>"
                }
              }

              for(var i = 0; i < Object.keys(obj1).length; i++) { //merge this for loop with the one above to reduce redundent code
                  obj1[i].TempDate = obj1[i].TempDate.slice(0,10)
              }

              //var obj1JSON = JSON.parse(JSON.stringify(obj1));


            
           </script>

           <link rel="#dataTable" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
           <table id="myOpenTable" class="display">
             <thead>
               <tr>
                 <th>CallID:</th>
                 <th>Date:</th>
                 <th>Category:</th>
                 <th>Description:</th>
                 <th>Status:</th>
                 <th>Action:</th>
             </tr>
             </thead>
           </table>
         </div>



          <!-- CLOSED TICKETS TAB CONTENT                                   CLOSED     CLOSED     CLOSED                       -->
          <div id="closedTab" class="tab-pane fade">
           <h3>Closed Tickets</h3>
           <script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
           <script>
           var obj2 = <%- closedTickets %>;
           for(var i = 0; i < Object.keys(obj2).length; i++) {
                if (obj2[i].CallStatus == "Open" && obj2[i].Resolve == '1'){
                  
                  obj2[i].CallStatus = "Resolved"
                  obj2[i].action = "<button type=button id=view name=closed class=btn btn-secondary>View</button>"
                }
                else if (obj2[i].CallStatus == "Open" && myBranch == "IT"){
                  
                  obj2[i].action = "<button type=button id=view class=btn btn-secondary>View</button>  <button type=button id=edit class=btn btn-secondary>Edit</button>  <button type=button id=resolve class=btn btn-secondary>Resolve</button>"
                }
                else{
                  obj2[i].action = "<button type=button style='width:100%' id=view name=closed class=btn btn-secondary>View</button>"
                }
              }

              for(var i = 0; i < Object.keys(obj2).length; i++) {
                  obj2[i].TempDate = obj2[i].TempDate.slice(0,10)
              }

             $(document).ready(function(){
               myClose = $('#myClosedTable').DataTable( {
                "order": [[0, "desc"]],
                 "autoWidth": false,
                 "aaData": obj2,
                 "aoColumns": [
                   { "mDataProp": "CallID"},
                   { "mDataProp": "TempDate"},
                   { "mDataProp": "Category" },
                   { "mDataProp": "Symptoms" },
                   { "mDataProp": "CallStatus" },
                   { "mDataProp": "action" },
                   { "mDataProp": "Site" }
                 ],
                 "columnDefs": [ {"targets": 0, "className": "dt-left", "width": "8%"}, {"targets":1, "className": "dt-left", "width": "10%"} , {"targets": 2, "className": "dt-center", "width": "10%"},{"targets": 3, "width": "40%"},{"targets": 4, "className": "dt-center", "width": "8%"}, {"targets": 5,"className": "dt-center", "data": null,"width": "22%", "searchable": false, "sortable": false, }, {"targets": 6, "width": "2%", "visible": false} ]
               });

               dropdown_handler('#myClosedTable');
                              //  Set up branch filters

                // Get the CALLID(ticket id) from the row of the selected button
               table_button_handler('#myClosedTable');
             });



            console.log("Creating closed tickets");

           </script>

           <link rel="#dataTable" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
           <table id="myClosedTable" class="display">
             <thead>
               <tr>
                 <th>CallID:</th>
                 <th>Date:</th>
                 <th>Category:</th>
                 <th>Description:</th>
                 <th>Status:</th>
                 <th>Action:</th>
             </tr>
             </thead>
           </table>
         </div>
      
          <!-- ALL TICKETS TAB CONTENT-->
          <div id="allTab" class="tab-pane fade">
           <h3>All Tickets</h3>
           <script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
           <script>
           var obj3 = <%- allTickets %>;
              for(var i = 0; i < Object.keys(obj3).length; i++) {
                if (obj3[i].CallStatus == "Open" && obj3[i].Resolve == '1'){
                
                  obj3[i].CallStatus = "Resolved"
                  obj3[i].action = "<button type=button id=view name=closed class=btn btn-secondary>View</button>"
                }
                else if (obj3[i].CallStatus == "Open" && myBranch == "IT"){
                  obj3[i].action = "<button type=button autoWidth=on id=view class=btn btn-secondary>View</button> <button type=button autoWidth=on id=edit class=btn btn-secondary>Edit</button> <button type=button autoWidth=on id=resolve class=btn btn-secondary>Resolve</button>"
                }
                else{
                  obj3[i].action = "<button type=button style='width:100%' id=view class=btn btn-secondary>View</button>"
                }
              }

              for(var i = 0; i < Object.keys(obj3).length; i++) {
                  obj3[i].TempDate = obj3[i].TempDate.slice(0,10)
              }


             $(document).ready(function(){
               myAll = $('#myAllTable').DataTable( {
                "order": [[0, "desc"]],
                 "autoWidth": false,
                 "aaData": obj3,
                 "aoColumns": [
                   { "mDataProp": "CallID"},
                   { "mDataProp": "TempDate"},
                   { "mDataProp": "Category" },
                   { "mDataProp": "Symptoms" },
                   { "mDataProp": "CallStatus" },
                   { "mDataProp": "action" },
                   { "mDataProp": "Site" }
                 ],
                 "columnDefs": [ {"targets": 0, "className": "dt-left", "width": "8%"}, {"targets":1, "className": "dt-left", "width": "10%"} , {"targets": 2, "className": "dt-center", "width": "10%"},{"targets": 3, "width": "40%"},{"targets": 4, "className": "dt-center", "width": "8%"}, {"targets": 5,"className": "dt-center", "data": null,"width": "22%", "searchable": false, "sortable": false,}, {"targets": 6, "width": "2%", "visible": false} ]
               });

               dropdown_handler('#myAllTable');
                              //  Set up branch filters

                // Get the CALLID(ticket id) from the row of the selected button
               table_button_handler('#myAllTable');
             });

            console.log("Creating closed tickets");

           </script>

           <link rel="#dataTable" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
           <table id="myAllTable" class="display">
             <thead>
               <tr>
                 <th>CallID:</th>
                 <th>Date:</th>
                 <th>Category:</th>
                 <th>Description:</th>
                 <th>Status:</th>
                 <th>Action:</th>
             </tr>
             </thead>
           </table>
         </div>
        </div>
      </div>
    </div>
  </div>
  </div>
           
        <script>  //This function handles the on click events for all the "view" buttons 
           function table_button_handler(table){

                $(table).on( 'click', '#view', function () { // VIEW BUTTON
                    console.log("HEY");
                    if(table == "#myOpenTable"){
                      var data = myOpen.row($(this).parents('tr')).data();
                    }
                    else if(table == "#myClosedTable"){
                      var data = myClose.row($(this).parents('tr')).data();
                    }
                    else{
                      var data = myAll.row($(this).parents('tr')).data();
                    }

                    tid=data.CallID;
                    window.location="/mytickets/view"+tid;
                  });

                $(table).on( 'click', '#edit', function () {  // EDIT BUTTON
                    console.log("HEY");
                    if(table == "#myOpenTable"){
                      var data = myOpen.row($(this).parents('tr')).data();
                    }
                    else if(table == "#myClosedTable"){
                      var data = myClose.row($(this).parents('tr')).data();
                    }
                    else{
                      var data = myAll.row($(this).parents('tr')).data();
                    }
                    tid=data.CallID;
                    window.location="/mytickets/edit"+tid;
                    // alert(data.CallID);
                  });

                $(table).on( 'click', '#resolve', function () { //RESOLVE BUTTON
                    console.log("HEY");
                    if(table == "#myOpenTable"){
                      var data = myOpen.row($(this).parents('tr')).data();
                    }
                    else if(table == "#myClosedTable"){
                      var data = myClose.row($(this).parents('tr')).data();
                    }
                    else{
                      var data = myAll.row($(this).parents('tr')).data();
                    }

                    tid=data.CallID;
                    window.location="/mytickets/resolve"+tid;

                    // alert(data.CallID);
                  });
            }

            // ---------------------------------------------------------------

            function dropdown_handler(target){

              //use $(".dropdown-toggle").text() to retrieve current branch

              $(target).dataTable().fnFilter('<%- branch %>', "6"); // Default Branch
              $('.selectpicker').on('change', function(){
                var homeBranch = '<%- branch %>'
                var tempBranch = $('.selectpicker').find("option:selected").text()
                tempBranch = alias(tempBranch);
                
                if(tempBranch=='HOME'){
                  tempBranch = homeBranch;
                }
                $(target).dataTable().fnFilter(tempBranch, "6"); // On Branch Selection
                  myOpen.draw();
              });
            }
            
            // ----------------------------------------------------------------
            function alias(branch){
              switch (branch) {
                  case 'Abbotsfield':
                      return "ABB";
                  case 'Administration':
                      return "ADM";
                  case 'Assessment & Research':
                      return "PMR";
                  case 'Calder':
                      return "CAL";
                  case 'Call In Pool':
                      return "CIP";
                  case 'Capilano':
                      return "CPL";
                  case 'Castle Downs':
                      return "CSD";
                  case 'Century Park LM':
                      return "CPLM";
                  case 'Clareview':
                      return "CLV";
                  case 'Collection Management':
                      return "CMA";
                  case 'Design & Production':
                      return "PRD";
                  case 'Digital Literacy':
                      return "DLI";
                  case 'Enterprise Square':
                      return "ESQ";
                  case 'Facilities':
                      return "FAO";
                  case 'Finance':
                      return "FIN";
                  case 'Fund Development':
                      return "FDO";
                  case 'Grant MacEwan LM':
                      return "GMLM";
                  case 'HR':
                      return "HRS";
                  case 'Highlands':
                      return "HIG";
                  case 'IT':
                      return "ITS";
                  case 'Idylwylde':
                      return "IDY";
                  case 'Jasper Place':
                      return "JPL";
                  case 'Lois Hole':
                      return "LHL";
                  case 'Londonderry':
                      return "LON";
                  case 'MNP Building':
                      return "MNP";
                  case 'Marketing':
                      return "MKT";
                  case 'McConachiey':
                      return "MCN";
                  case 'Meadows':
                      return "MEA";
                  case 'Mill Woods':
                      return "MLW";
                  case 'Public Services':
                      return "PUB";
                  case 'Purchasing':
                      return "PUR";
                  case 'Riverbend':
                      return "RIV";
                  case 'Sprucewood':
                      return "SPW";
                  case 'Stanley A. Milner':
                      return "MNA";
                  case 'Strathcona':
                      return "STR";
                  case 'Van':
                      return "LTV";
                  case 'Van 1':
                      return "LTV1";
                  case 'Van 2':
                      return "LTV2";
                  case 'Van 3':
                      return "LTV3";
                  case 'Van 4':
                      return "LTV4";
                  case 'Warehouse':
                      return "105";
                  case 'Web Services':
                      return "WEB";
                  case 'West Henday':
                      return "WHP";
                  case 'Woodcroft':
                      return "WOO";
                  case 'Youth Services':
                      return "MNJ";
                  case 'eplGO U of A':
                      return "UAC";
                  case "Show All":
                      return "";
                  case 'Home Branch':
                     return "HOME";
              }
            };

         </script>

 <footer>
      <% include ./partials/footer %>
    </footer>
  </body>
</html>
